body { /* configurações visuais para todo o corpo do site - isso inclui a fonte e a cor de fundo*/ 
  font-family: 'Inter';
  background-color: #531516;
  /*background-image: url("../imagens/bg.gif");
  background-repeat: no-repeat;
  background-size: cover;*/
}

h1 { /* define a cor, peso e tamanho da fonte e alinhamento do titulo do site */
  color: white;
  text-align: center;
  margin-bottom: 0px;
  font-weight: bolder;
  font-size: 2.5em;
}

#flip { /* mesmo acima, com a diferença que inverte a fonte no eixo */
  color: white;
  text-align: center;
  font-weight: bolder;
  transform: scaleY(-1);
  margin-top: 0;
  margin-bottom: 20px;
}

ul { /* configuração da lista não ordenada. overflow faz com que ela siga todo o comprimento da tela */
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1B222C;
  border-radius: 8px;
}

li { /* edição visual dos membros da lista */
  float: left;
  display: inline;
  background-color: #1B222C;
  border-radius: 8px;
}

a { /* edição visual de cada elemento da lista, os links. text-decoration none retira a linha abaixo dos links */
  font-size: 1em;
  color: white;
  font-weight: bold;
  text-decoration: none;
  display: block;
  padding: 20px;
}

a:hover { /* o efeito hover faz com que os links mudem a cor de fundo quando o mouse passa por cima */
  background-color: #661b1c;
}

#gato { /* edição visual da imagem do gato */
  border-radius: 8px;
  float: right;
  margin-bottom: 0px;
  margin-top: 45px;
  display: block;
  object-fit: contain;
  width: 30%;
  height: 40%;
}

#gato:hover{ /* faz com que o gato gire no eixo x quando o mouse passa por cima */
  transform: scaleX(-1);
}

/* as div's abaixo são apenas edições visuais para manter o texto delas na cor branca */
.div_noticia {
    color: white;
}

.div_sobre {
  color: white;
}

.div_index {
  color: white;
}

/* gira  o gif da raposa no eixo horizontal */
#raposa {
  transform: scaleX(-1);
}

.form_inscricao { /* muda a cor da fonte dos elementos do formulario */
  color: white;
}

#submit { /* edição grafica do botão do formulario. muda a cor dele, tamanho da fonte e deixa o botão com cantos arredondados */
  border-radius: 4px;
  color: white;
  font-size: 16px;
  border: #1B222C;
  background-color: #1B222C;
}

#submit:hover { /* muda a cor de fundo do botão quando o mouse passar por cima */
  background-color: #12151c;
}

.mensagem_erro { /* adiciona uma cor vermelha na mensagem de alerta */
  background-color: red;
  color: white;
  border-radius: 4px;
  animation: fadeOut 3s;
}

.tabela_banco, th, td{
  border: 2px solid;
  border-collapse: collapse;
  color: white; 
}

.tabela_banco {
  margin-top: 15px;
}

.th_banco {
  text-align: center;
  font-weight: bold;
}

.td_banco {
  text-align: left;
}

.th_banco, .td_banco {
  padding: 10px;
  border-bottom: 1px solid #fff;
}

.tr_banco:hover {
  background-color: #661b1c;
}

.cadastro_filme {
  color: white;
}
